<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RequestDTO</key>
		<string>UpdateInfoRequestDTO</string>
		<key>PathPattern</key>
		<string>action/appUpdate</string>
		<key>ResponseDTO</key>
		<string>UpdateInfoResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_GetUpdateVersion</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>PhoneRequestDTO</string>
		<key>PathPattern</key>
		<string>action/messageAquire</string>
		<key>ResponseDTO</key>
		<string>PhoneResponseCodeDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_ForgotPassword_GetUserKey</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>CertifyCodeRequestDTO</string>
		<key>PathPattern</key>
		<string>action/validateMessage</string>
		<key>ResponseDTO</key>
		<string>CertifyCodeResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_ForgotPassword_Certify</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLProvinceRequestDTO</string>
		<key>PathPattern</key>
		<string>action/provinceAquire</string>
		<key>ResponseDTO</key>
		<string>TLProvinceResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_Register_Provice_Getter</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCityRequestDTO</string>
		<key>PathPattern</key>
		<string>action/cityAquire</string>
		<key>ResponseDTO</key>
		<string>TLCityResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_Register_City_Getter</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLDistrictRequestDTO</string>
		<key>PathPattern</key>
		<string>action/districtAquire</string>
		<key>ResponseDTO</key>
		<string>TLDistrictResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_Register</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>RegRequestDTO</string>
		<key>PathPattern</key>
		<string>action/userRegister</string>
		<key>ResponseDTO</key>
		<string>RegResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_Register_District_Getter</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>LoginRequestDTO</string>
		<key>PathPattern</key>
		<string>action/login</string>
		<key>ResponseDTO</key>
		<string>LoginResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_User_Login</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLHomeImageRequestDTO</string>
		<key>PathPattern</key>
		<string>action/indexPictureV1</string>
		<key>ResponseDTO</key>
		<string>TLHomeImageResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_Home_Image_List</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLLogoutRequestDTO</string>
		<key>PathPattern</key>
		<string>action/logout</string>
		<key>ResponseDTO</key>
		<string>ResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_Logout</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLTripListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/list</string>
		<key>ResponseDTO</key>
		<string>TLTripListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_TripList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLAddTripRequestDTO</string>
		<key>PathPattern</key>
		<string>action/save</string>
		<key>ResponseDTO</key>
		<string>TLAddTripResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_AddTrip</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLAddBookNodeRequestDTO</string>
		<key>PathPattern</key>
		<string>action/lsnodesave</string>
		<key>ResponseDTO</key>
		<string>TLAddBookNodeResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_AddBookNode</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLTripDetailRequestDTO</string>
		<key>PathPattern</key>
		<string>action/detail</string>
		<key>ResponseDTO</key>
		<string>TLTripDetailResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_TripDetail</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLWayBookDetailRequestDTO</string>
		<key>PathPattern</key>
		<string>action/lsdetail</string>
		<key>ResponseDTO</key>
		<string>TLWaybookDetailResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_Waybook</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCommentListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listComment</string>
		<key>ResponseDTO</key>
		<string>TLCommentListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_CommentList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCommentRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveComment</string>
		<key>ResponseDTO</key>
		<string>TLCommontResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_Commont</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLTripListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/mylist</string>
		<key>ResponseDTO</key>
		<string>TLTripListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_MyTripList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLIsTopRequestDTO</string>
		<key>PathPattern</key>
		<string>action/isTop</string>
		<key>ResponseDTO</key>
		<string>TLIsTopResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_IsTop</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCommonCodeRequestDTO</string>
		<key>PathPattern</key>
		<string>action/commonCode</string>
		<key>ResponseDTO</key>
		<string>TLCommonCodeResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_CommonCode</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLActivitySaveRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveActivity</string>
		<key>ResponseDTO</key>
		<string>TLActivitySaveResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ActivitySave</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLActivityListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listActivity</string>
		<key>ResponseDTO</key>
		<string>TLActivityListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ActivityList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLActivityDetailRequestDTO</string>
		<key>PathPattern</key>
		<string>action/activityDetail</string>
		<key>ResponseDTO</key>
		<string>TLActivityDetailResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ActivityDetail</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLActivityParticipateRequestDTO</string>
		<key>PathPattern</key>
		<string>action/activityParticipate</string>
		<key>ResponseDTO</key>
		<string>TLActivityParticipateResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ActivityParticipate</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCarListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/carList</string>
		<key>ResponseDTO</key>
		<string>TLCartListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_CartList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSaveCollectRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveCollect</string>
		<key>ResponseDTO</key>
		<string>TLSaveCollectResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SaveCollect</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListCarRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listCar</string>
		<key>ResponseDTO</key>
		<string>TLListCartResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListCart</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCarDetailRequestDTO</string>
		<key>PathPattern</key>
		<string>action/carDetail</string>
		<key>ResponseDTO</key>
		<string>TLCarDetailResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_CartDetail</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListCarEvalutionRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listCarEvaluation</string>
		<key>ResponseDTO</key>
		<string>TLListCarEvelutionResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListCarEvalution</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCarEvalDetailRequestDTO</string>
		<key>PathPattern</key>
		<string>action/carEvalDetail</string>
		<key>ResponseDTO</key>
		<string>TLCarEValDetailResponseDTo</string>
		<key>Describe</key>
		<string>NetAdapter_CarEvalDetail</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListCarRectRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listCarRent</string>
		<key>ResponseDTO</key>
		<string>TLListCarRectResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListCarRect</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSaveCarRectRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveCarRent</string>
		<key>ResponseDTO</key>
		<string>TLSaveCarResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SaveCarRent</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLViewCarRentRequestDTO</string>
		<key>PathPattern</key>
		<string>action/viewCarRent</string>
		<key>ResponseDTO</key>
		<string>TLViewCarRectResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ViewCarRent</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSaveCarServiceRequest</string>
		<key>PathPattern</key>
		<string>action/saveCarService</string>
		<key>ResponseDTO</key>
		<string>TLSaveCarServiceResponse</string>
		<key>Describe</key>
		<string>NetAdapter_SaveCarService</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListCarServiceRequest</string>
		<key>PathPattern</key>
		<string>action/listCarService</string>
		<key>ResponseDTO</key>
		<string>TLListCarServiceResponse</string>
		<key>Describe</key>
		<string>NetAdapter_ListCarService</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCarServiceDetailRequest</string>
		<key>PathPattern</key>
		<string>action/viewCarService</string>
		<key>ResponseDTO</key>
		<string>TLCarServiceDetailResponse</string>
		<key>Describe</key>
		<string>NetAdapter_ViewCarService</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCarServiceMackScoreRequest</string>
		<key>PathPattern</key>
		<string>action/makeScore</string>
		<key>ResponseDTO</key>
		<string>TLCarServiceMackScoreResponse</string>
		<key>Describe</key>
		<string>NetAdapter_MakeScore</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSaveSecondGoodsRequest</string>
		<key>PathPattern</key>
		<string>action/saveSecondGoods</string>
		<key>ResponseDTO</key>
		<string>TLSaveSecondGoodsResponse</string>
		<key>Describe</key>
		<string>NetAdapter_SaveSecondGoods</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListSecondGoodsRequest</string>
		<key>PathPattern</key>
		<string>action/listSecondGoods</string>
		<key>ResponseDTO</key>
		<string>TLListSecondGoodsResponse</string>
		<key>Describe</key>
		<string>NetAdapter_ListSecondGoods</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSecondGoodsDetailRequest</string>
		<key>PathPattern</key>
		<string>action/viewSecondGoods</string>
		<key>ResponseDTO</key>
		<string>TLSecondGoodsDetailResponse</string>
		<key>Describe</key>
		<string>NetAdapter_ViewSecondGoods</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListMerchantRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listMerchant</string>
		<key>ResponseDTO</key>
		<string>TLListMerchantResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListMerchant</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListMerchantDetailRequestDTO</string>
		<key>PathPattern</key>
		<string>action/viewMerchant</string>
		<key>ResponseDTO</key>
		<string>TLListMerchantDetailResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ViewMerchant</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLCarServiceMackScoreRequest</string>
		<key>PathPattern</key>
		<string>action/makeMerchantScore</string>
		<key>ResponseDTO</key>
		<string>TLCarServiceMackScoreResponse</string>
		<key>Describe</key>
		<string>NetAdapter_MakeMerchantScore</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLRequestDTO</string>
		<key>PathPattern</key>
		<string>action/makeSOS</string>
		<key>ResponseDTO</key>
		<string>TLEmergencyResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_MakeSOS</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLUserEditRequestDTO</string>
		<key>PathPattern</key>
		<string>action/userEdit</string>
		<key>ResponseDTO</key>
		<string>TLEmergencyResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_UserEdit</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLUserViewRequestDTO</string>
		<key>PathPattern</key>
		<string>action/userView</string>
		<key>ResponseDTO</key>
		<string>TLUserViewResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_UserView</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLAppealRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveAppeal</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SaveAppeal</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLAuthorityRequestDTO</string>
		<key>PathPattern</key>
		<string>action/authority</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_Authority</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLOpenVipRequestDTO</string>
		<key>PathPattern</key>
		<string>action/openVip4IOS</string>
		<key>ResponseDTO</key>
		<string>TLOpenVipResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_OpenVip</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLBuyTLBRequestDTO</string>
		<key>PathPattern</key>
		<string>action/buyTLB</string>
		<key>ResponseDTO</key>
		<string>TLBuyTLBResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_BuyTLB</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLAddGrowRequestDTO</string>
		<key>PathPattern</key>
		<string>action/addGrow</string>
		<key>ResponseDTO</key>
		<string>TLAddGrowResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_AddGrow</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLNewsListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listNews</string>
		<key>ResponseDTO</key>
		<string>TLNewsListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListNews</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLMyFriendListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/friendList</string>
		<key>ResponseDTO</key>
		<string>TLMyFriendsListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_MyFriendList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLAddFriendApplyRequestDTO</string>
		<key>PathPattern</key>
		<string>action/addFriendApply</string>
		<key>ResponseDTO</key>
		<string>TLAddFriendApplyResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_AddFriendApply</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLComfirmAddFrinedRequestDTO</string>
		<key>PathPattern</key>
		<string>action/confirmAddFriend</string>
		<key>ResponseDTO</key>
		<string>TLComfirmAddFriendResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ConfirmAddFriend</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListOrgRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listOrganization</string>
		<key>ResponseDTO</key>
		<string>TLListOrgResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListOrganization</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLViewOrgRequestDTO</string>
		<key>PathPattern</key>
		<string>action/viewOrganization</string>
		<key>ResponseDTO</key>
		<string>TLViewOrgResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ViewOrganization</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLOperOrgRequestDTO</string>
		<key>PathPattern</key>
		<string>action/operateOrganization</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_OperateOrganization</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListGroupRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listGroup</string>
		<key>ResponseDTO</key>
		<string>TLListGroupResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListGroup</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSendOrgMessageRequestDTO</string>
		<key>PathPattern</key>
		<string>action/sendOrgMessage</string>
		<key>ResponseDTO</key>
		<string>TLSendOrgMessageResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SendOrgMessage</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLGroupJoinApplyRequestDTO</string>
		<key>PathPattern</key>
		<string>action/operateGroup</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_GroupJoinApply</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSaveGroupRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveGroup</string>
		<key>ResponseDTO</key>
		<string>TLSaveGroupResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SaveGroup</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLViewGroupRequestDTO</string>
		<key>PathPattern</key>
		<string>action/viewGroup</string>
		<key>ResponseDTO</key>
		<string>TLViewGroupResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ViewGroup</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLListOrgMesssageRequestDTO</string>
		<key>PathPattern</key>
		<string>action/listOrgMessage</string>
		<key>ResponseDTO</key>
		<string>TLListOrgMessageResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ListOrgMessage</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLRenameFriendRequestDTO</string>
		<key>PathPattern</key>
		<string>action/reNameFriend</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ReNameFriend</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLModifyPasswordRequestDTO</string>
		<key>PathPattern</key>
		<string>action/pwdModify</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_PwdModify</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>CertifyCodeRequestDTO</string>
		<key>PathPattern</key>
		<string>action/rebindPhone</string>
		<key>ResponseDTO</key>
		<string>CertifyCodeResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_RebindPhone</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLIsTopRequestDTO</string>
		<key>PathPattern</key>
		<string>action/doTop</string>
		<key>ResponseDTO</key>
		<string>TLIsTopResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_DoTop</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLReportBlackRequestDTO</string>
		<key>PathPattern</key>
		<string>action/reportBlack</string>
		<key>ResponseDTO</key>
		<string>TLReportBlackResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_ReportBlack</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSaveMarchantRequestDTO</string>
		<key>PathPattern</key>
		<string>action/saveMerchant</string>
		<key>ResponseDTO</key>
		<string>TLSaveMarchantResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SaveMerchant</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLMerchantErrorRequestDTO</string>
		<key>PathPattern</key>
		<string>action/merchantError</string>
		<key>ResponseDTO</key>
		<string>TLMerchantErrorResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_MerchantError</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLSysMessageListRequestDTO</string>
		<key>PathPattern</key>
		<string>action/sysMessageList</string>
		<key>ResponseDTO</key>
		<string>TLSysMessageListResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_SysMessageList</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLRequestDTO</string>
		<key>PathPattern</key>
		<string>action/initImage</string>
		<key>ResponseDTO</key>
		<string>TLWaitingImageResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_InitImage</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLUploadChatFileRequest</string>
		<key>PathPattern</key>
		<string>action/uploadChatFile</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_UploadChatFile</string>
		<key>RequestType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLHiddenSetting</string>
		<key>PathPattern</key>
		<string>action/hiddenSetting</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_HiddenSetting</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLRemoveFriendRequest</string>
		<key>PathPattern</key>
		<string>action/removeFriend</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_RemoveFriend</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLInviteGroupUser</string>
		<key>PathPattern</key>
		<string>action/inviteGroupUser</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_InviteGroupUser</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLTlbChargeRequestDTO</string>
		<key>PathPattern</key>
		<string>action/tlbCharge</string>
		<key>ResponseDTO</key>
		<string>TLTlbChanrgeResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_TlbCharge</string>
	</dict>
	<dict>
		<key>RequestDTO</key>
		<string>TLPwdFindRequest</string>
		<key>PathPattern</key>
		<string>action/pwdFind</string>
		<key>ResponseDTO</key>
		<string>TLResponseDTO</string>
		<key>Describe</key>
		<string>NetAdapter_PwdFind</string>
	</dict>
</array>
</plist>
